@charset "utf-8";
/* CSS Document */

#icon_facebook {
	display: block;
	float: left;
	font-size: 48px;
	color: #adacab;
	margin-top: 50px;
	margin-left: 120px;
	margin-right: 15px;
}

#icon_facebook:hover {
	cursor: pointer;
	color: #7d7d7d;
}

#icon_twitter {
	display: block;
	float: left;
	font-size: 48px;
	color: #adacab;
	margin-top: 50px;
	margin-left: 15px;
	margin-right: 15px;
}

#icon_twitter:hover {
	cursor: pointer;
	color: #7d7d7d;
}

#icon_gplus {
	display: block;
	float: left;
	font-size: 48px;
	color: #adacab;
	margin-top: 50px;
	margin-left: 15px;
	margin-right: 15px;
}

#icon_gplus:hover {
	cursor: pointer;
	color: #7d7d7d;
}

#icon_instagram {
	display: block;
	float: left;
	font-size: 48px;
	color: #adacab;
	margin-top: 50px;
	margin-left: 15px;
}

#icon_instagram:hover {
	cursor: pointer;
	color: #7d7d7d;
}

